
<!-- send un/pw with Login model to AuthService(Angular), this will send to our AccountController
    POST -->
    <!-- we are submiting JSON data, instead of the whole form  -->

    <!-- Template approach -->
    <!-- use Angular directives, add them in form -->

    

    <!-- when we click the submit button inside this form, it will trigger the login() method -->
                      <!--directive =  method in 【loginComponent】;  template reference --> 
    <form class="w-25 m-5" (ngSubmit)="login()" #loginForm>
        <div *ngIf="invalidLogin" class="alert alert-danger">
          Invalid username and/or password
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
