<!-- <h1>Get movieId from URL and go to API to get movie details</h1> -->

<div class="bg-dark container-fluid clearfix" style="background-image:url({{movie.backdropUrl}});background-size:100% 100%; opacity:0.9;">
    <div class="float-left p-2 w-30">
        <img src="{{movie.posterUrl}}" class="" />
    </div>
    <div class="float-left p-2 w-50">
        <h1 class="text-white">{{movie.title}}</h1>
        <p class="text-sm-left text-dark mb-1">{{movie.tagline}}</p>
        <p class="text-md-left mb-1">{{movie.runTime}}|{{movie.releaseDate}}</p>

        <div>
            <span *ngFor="let genre of movie.genres"></span>
        </div>
        <p class="text-md-left text-black bg-warning d-inline p-2 rounded" style="">{{movie.rating}}</p>
        <p class="text-md-left text-white">{{movie.overview}}</p>
    </div>
    <div class="float-left p-2 w-20">
        <div>
            <!-- @if (Model.CheckFavorited)
            {
                <form method="post" asp-action="DeleteFavorite" asp-controller="User">
                    <button type="submit"><i class="fa fa-heart" aria-hidden="true"></i></button>
                    <input type="hidden" value="@Model.Movie.Id" name="MovieId" />
                </form>
            }
            else
            { -->
                <form method="post" asp-action="Favorite" asp-controller="User">
                    <button type="submit"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                    <input type="hidden" value="@Model.Movie.Id" name="MovieId" />
                </form>
            <!-- } -->

        </div>
        <div>
            <ul class="list-unstyled">
                <li>
                    <!-- @if (Model.CheckReviewed)
                    {
                        <button type="button" class="btn btn-primary btn-block m-1">Reviewed<i class="fa fa-check" aria-hidden="true"></i></button>
                    }
                    else
                    { -->
                        <button type="button" class="btn btn-primary btn-block m-1" data-toggle="modal" data-target="#exampleModal">Review</button>
                    <!-- } -->

                </li>

                <li><button type="button" class="btn btn-primary btn-block m-1">Trailer</button></li>
                <li>
                    <!-- @if (Model.CheckPurchased)
                    {
                        <a href="https://www.youtube.com/" class="btn bg-warning btn-primary btn-block m-1">Watch Now <i class="fa fa-play" aria-hidden="true"></i></a>
                    }
                    else
                    { -->
                        <form method="post" asp-action="Purchase" asp-controller="User">
                            <input type="submit" value="BUY $@Model.Movie.Price" class="btn btn-primary btn-block m-1" />
                            <!-- this name tag should be the same as PurchaseRequestModel.property, so this input can pass value to that property -->
                            <input type="hidden" value="@Model.Movie.Id" name="MovieId" />
                        </form>
                    <!-- } -->

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bg-light clearfix">
    <div class="float-left w-25 pt-3 pl-3" style="background-color:#dcdcdc;height:15rem">
        <h4 class="sm">MOVIE FACTS</h4>
        <ul class="list-unstyled">
            <li>Release Date <span class="bg-dark rounded text-white">{{movie.releaseDate}}</span></li>
            <li>Run time <span class="bg-dark rounded text-white">&nbsp;{{movie.runTime}}&nbsp;</span></li>
            <li>Box Office <span class="bg-dark rounded text-white">&nbsp;{{movie.revenue}}&nbsp;</span></li>
            <li>Budget <span class="bg-dark rounded text-white">&nbsp;{{movie.budget}}&nbsp;</span></li>
        </ul>
        <button style="border-style:none"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
        <button style="border-style:none"><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
    </div>
    <table class="table w-50 float-md-right">
        <thead>
            <tr>
                <th>Cast</th>
                <th>Cast Id</th>
                <th>Character</th>
                <th>Cast Name</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let cast of movie.casts"><td><img src="{{cast.profilePath}}" style="height:5rem" /></td><td> {{cast.id}}</td><td>{{cast.character}}</td><td><a href="#">{{cast.name}}</a></td></tr>
            
        </tbody>

    </table>

</div>